{% trans_default_domain("oauth2") %}
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properties -->
    <title>{{ 'title.authorization' | trans({'%title%': title}) }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
        .title {
            text-align: left;
        }
    </style>
</head>
<body data-feedly-mini="yes">

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="{{ logo }}" class="image">
            <div class="content">
                {{ title }}
            </div>
        </h2>

        <h2 class="ui top attached header">
            {{ 'title.wants_to_know' | trans({'%client%': client.name}) }}
            <div class="sub header">{{ 'title.wants_to_share' | trans }}</div>
        </h2>
        <div class="attached segment">
            <div class="ui fluid vertical steps">
                {% for scope in scopes %}
                <div class="step">
                    <i class="{{ scope.icon }} icon"></i>
                    <div class="content">
                        <div class="title">{{ scope.identifier | title }}</div>
                        <div class="description">{{ scope.description['en'] }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui right aligned bottom attached segment">
            <form method="POST">
                <input id="action" type="hidden" value="deny" name="action">
                <button type="submit" class="ui basic button">{{ 'button.deny' | trans }}</button>
                <button type="submit" onclick="$('#action').val('approve');" class="ui basic button">{{ 'button.allow' | trans }}</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
