{% extends "base.twig" %}

{% set moduleurlpath = '/' ~  baseurlpath ~ 'module.php/oauth2/' %}

{% block preload %}
    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}module.php/oauth2/resources/style.css">
{% endblock %}

{% block content %}
<h1>Oauth2 Client Registry</h1>
<p>Here you can register new OAuth2 Clients.</p>

<h2>Your clients</h2>

    {% for client in clients %}
        <table class="metalist">
            <tr>
                <th class="desc">Name</td>
                <td class="data">{{ client.name }}</td>
            </tr>
            <tr>
                <th class="desc">Description</td>
                <td class="data">{{ client.description }}</td>
            </tr>
            <tr>
                <th class="desc">Client ID</td>
                <td class="data">{{ client.id }}</td>
            </tr>
            <tr>
                <th class="desc">Client Secret</td>
                <td class="data">{{ client.secret }}</td>
            </tr>
            <tr>
                <th class="desc">Redirect URIs</td>
                <td class="data">
                    <ul>
                        {% for uri in client.redirect_uri %}
                            <li>{{ uri }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="{{ moduleurlpath }}registry.edit.php?id={{ client.id }}" class="button">Edit config</a>
                    <a href="{{ moduleurlpath }}registry.php?restore={{ client.id }}" class="button">Restore secret</a>
                    <a href="{{ moduleurlpath }}registry.php?delete={{ client.id }}" class="button">Delete</a>
                </td>
            </tr>
        </table>
        <hr/>
    {% else %}
        <table class="metalist">
            <tr>
                <td>No clients registered</td>
            </tr>
        </table>
    {% endfor %}

    <a href="{{ moduleurlpath }}registry.new.php" class="button">Add new client</a>
{% endblock %}



